span{
    background: linear-gradient(266deg, rgba(205,30,145,1) 0%, rgba(252,90,90,1) 100%);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

h1{
    font-family: Helvetica, sans-serif;
}

label{
    font-weight: 500;
    font-size: 17px;
}

#validacao{
    color: red;
}

.bg-light{
    width: 69.5rem;
}