span{
    background: linear-gradient(266deg, rgba(205,30,145,1) 0%, rgba(252,90,90,1) 100%);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

h1{
    font-family: Helvetica, sans-serif;
}

label{
    font-weight: 500;
    font-size: 17px;
}

form{
    width: 100%;
}

#validacao{
    color: red;
}

.bg-light{
    width: 69.5rem;
}

@media (min-width: 260px) and (max-width:1150px){
    .bg-light{
        width:95%;
    }
}

@media (min-width: 360px) and (max-width:430px){
    .bg-light{
        width:95%;
    }

    #tabela{
        max-width:90%;
    }
}

